*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

q:before,
q:after {
    content: "";
}

html,
body,
h1,
h2,
h3,
h4,
p,
ol,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    max-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: #F9FAFF;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/*common css start*/

:root {
    --a-color: #18191F;
    --btn-color: #4CAF4F;
    --btn-textcolor: #D9D9D9;
    --font-color: #4D4D4D;
    --background-color: #F5F7FA;
    --p-color: #717171;
    --btn-fontcolor: #FFFFFF;
    --lastsection-pcolor: #18191F;
}

.container {
    max-width: 1152px;
    margin: auto;
}

nav {
    margin-top: 30px;
    background-color: var(--background-color);
}

.flex {
    display: flex;
    align-items: start;
}

.div {
    background-color: var(--background-color);
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/*common css end*/

/*navbar start*/


.navright {

    margin: 0px 124.5px 0px 166.01px;
}

.navlinks {
    color: var(--a-color)
}

.navright ul {
    display: flex;
    gap: 50px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.navbtn a {
    padding: 10px 20px;
    gap: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.navlogin {
    color: var(--a-color);
    color: var(--btn-color);
}

.navsign {
    white-space: nowrap;
    color: var(--a-color);
    background-color: var(--btn-color);
    border-radius: 6px;
    color: var(--btn-fontcolor);
}

/*navbar end*/

/* hero section start*/

#banner {
    min-height: 599px;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: var(--background-color);
    margin-top: 96px;
}

.content {
    max-width: 657px;
    max-height: 276px;
}

.sech1 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: var(--font-color);
    font-size: 40px;
}

.sech2 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: var(--btn-color);
    font-size: 40px;
}

.content p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--p-color);
}

.bannerbtn {
    background-color: var(--btn-color);
    padding: 14px 32px;
    background-color: var(--btn-color);
    display: inline-block;
    margin-top: 32px;
    border-radius: 4px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.bnrbtn {
    color: var(--btn-fontcolor);

}

.contentf {
    width: 657px;
    padding-top: 130px;

}

.slider .class1 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--btn-color);
    margin-bottom: 16px;
}

.slider .class2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--btn-color);
    margin-bottom: 16px;
    opacity: 30%;
}

.slider {
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 215px;
}

/* hero section end*/

/*section start*/

#section {
    margin-top: 40px;
}

.sectionh2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    font-size: 36px;
    line-height: 44px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.sectionp {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 44px;
    color: var(--p-color);
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.clint {
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    gap: 136px;
}

.h2p {
    margin-top: 40px;
}

.sectionfirsth2 {
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    color: var(--font-color);
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

.sectionlasth2 {
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    color: var(--font-color);
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

.sectionlastp {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 44px;
    color: var(--p-color);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/*section community start*/
.community {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}


.membership {
    height: 260px;
    width: 299px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(171, 190, 209, 0.2);
}

.associations {
    height: 260px;
    width: 299px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(171, 190, 209, 0.2);
}

.clubgroup {
    height: 260px;
    width: 299px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(171, 190, 209, 0.2);
}

.icon {
    width: 48px;
    height: 48px;
}

.communityh2 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 900;
    font-family: "Inter", sans-serif;
    color: var(--font-color);
}

.communityp {
    font-size: 14px;
    line-height: 20px;
    color: var(--p-color);
    font-family: "Inter", sans-serif;
}

/*section community end*/

/*section3 start*/
#section3 {
    margin-top: 42px;
}

.section3img {
    display: flex;
    align-items: center;
}

.section3h2 {
    font-size: 36px;
    line-height: 44px;
    color: var(--font-color);
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.section3p {
    font-size: 14px;
    line-height: 14px;
    color: var(--p-color);
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.gapp {
    margin-top: 14px;
}

.section3btn1 {
    padding: 14px 32px;
    background-color: var(--btn-color);
    display: inline-block;
    margin-top: 32px;
    border-radius: 4px;
}

.section3btn {
    color: var(--btn-fontcolor);
}

.section3articale {
    margin-left: 49px;
}

.section3img {
    margin-left: 40px;
}

/*section3 end*/

/*last section start*/

#lastsection {
    display: flex;
    height: 288px;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

.lastsectionh2first {
    font-size: 36px;
    color: var(--font-color);
    line-height: 44px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}

.lastsectionh2 {
    font-size: 36px;
    color: var(--btn-color);
    line-height: 44px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}

.lastsectionp {
    font-size: 16px;
    line-height: 44px;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    color: var(--lastsection-pcolor);
}

.count1 {
    margin-left: 204px;
    display: flex;
    align-items: flex-start;
}

.count2 {
    margin-left: 204px;
    display: flex;
    align-items: flex-start;
    margin-top: 46px;
}

.count-text {
    display: flex;
    flex-direction: column;
    margin-left: 6px;
}

.count-text h2 {
    font-size: 28px;
    line-height: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: var(--font-color);
}

.count-text p {
    font-size: 16px;
    line-height: 24px;
    font-family: "Inter", sans-serif;
    color: var(--p-color);
}

.icon2 {
    margin-left: 203px;
}

.margin img {
    margin-right: -8px;
}

/*last section start*/

/*article section start*/

.article1h2 {
    font-size: 36px;
    line-height: 44px;
    font-family: "Inter", sans-serif;
    color: var(--font-color)
}

.article1p {
    font-size: 14px;
    line-height: 20px;
    font-family: "Inter", sans-serif;
    color: var(--p-color);
}

.articlemarginp {
    margin-top: 16px;
}

.articlebtn {
    padding: 14px 32px;
    background-color: var(--btn-color);
    border-radius: 4px;
    color: var(--btn-fontcolor);
}

.articlebtn1 {
    margin-top: 32px;
}

.article1 {
    width: 661px;
    margin-top: 62px;
    margin-left: 49px;
}

.articleimg {
    margin-top: 48px;
}

.article2p {
    font-size: 16px;
    line-height: 20px;
    font-family: "Inter", sans-serif;
    color: var(--p-color);
}

.article2margin {
    margin-top: 5px;
}

.article2h2 {
    font-size: 20px;
    line-height: 20px;
    font-family: "Inter", sans-serif;
    color: var(--btn-color);
    margin-top: 16px;
}

.artlastp {
    font-size: 16px;
    line-height: 20px;
    font-family: "Inter", sans-serif;
    color: var(--p-color);
    margin-top: 8px;
}

.articleimg2 {
    margin-top: 48px;
    background-color: var(--background-color);
    max-height: 390px;
}

.article2logo {
    height: 48px;
}

.article2 {
    margin-left: 78px;
}

.art2logo {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 32PX;
}

.art2logo {
    gap: 22px;
}

.artlogoh2 {
    font-size: 20px;
    line-height: 28px;
    font-family: "Inter", sans-serif;
    color: var(--btn-color);
    font-weight: 600;
}

.artilogo2h2 {
    display: flex;
    align-items: center;
}

.logoarticle {
    display: flex;
    align-items: center;
    gap: 41px;
}

.rightimg {
    margin-top: 4px;
    margin-left: 8px;
}
/*article section end*/
/*section end*/